<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: url(&quot;/img/bg.jpg&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>О нас</h2>
            </div>
            <div class="row">
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Adipisci dolorem, doloribus et excepturi id iste nemo, nihil obcaecati
                    quis quo recusandae repellendus, reprehenderit rerum totam voluptatibus. Neque, quisquam,
                    recusandae. Obcaecati?</p></div>
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Aperiam ducimus eveniet fuga nostrum praesentium veritatis voluptate
                    voluptatibus! Amet consectetur, cupiditate deleniti dolores dolorum facere iure perspiciatis
                    quibusdam quis, vero voluptates?</p></div>
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Aut blanditiis dicta illum quaerat sed tempore totam velit vitae.
                    Adipisci amet, architecto aspernatur cum doloribus officiis quae quaerat qui. Itaque, laborum.</p>
                </div>
                <div class="col-12" align="center">
                    <iframe width="75%" height="550" src="https://www.youtube.com/embed/R26rlxC8_PY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>