<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Пользователи</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: url(&quot;/img/bg.jpg&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Пользователи</h2>
            </div>
            <div th:if="${message}" class="alert alert-warning" role="alert">
                <strong th:text="${message}"></strong>
            </div>
            <form style="max-width: 100%;max-height: 100px;padding: 5px;margin-bottom: 5px;">
                <div class="row d-xl-flex align-items-xl-center">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <h2>Логин</h2>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <h2>Роль</h2>
                    </div>
                    <div class="col-xl-2"></div>
                    <div class="col-xl-2"></div>
                </div>
            </form>
            <form th:each="u : ${users}" style="max-width: 100%;max-height: 100px;padding: 5px;margin-bottom: 5px;"
                  th:action="'/users/edit/' + ${u.id}" method="post">
                <div class="row d-xl-flex align-items-xl-center">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <input class="form-control" type="text" readonly="" th:value="${u.username}">
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <select class="form-select" required name="role">
                        <option th:each="r : ${roles}" th:value="${r}" th:label="${r.name}"
                                th:selected="${r == u.role}"></option>
                    </select>
                    </div>
                    <div class="col-xl-2 d-xl-flex justify-content-xl-center">
                        <button class="btn btn-warning" type="submit">Обновить</button>
                    </div>
                    <div class="col-xl-2 d-xl-flex justify-content-xl-center">
                        <a class="btn btn-danger" role="button" th:href="'/users/delete/' + ${u.id}">Удалить</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>